h1::first-line {
    color: rgb(1, 1, 11);
    text-transform: uppercase;
  }

h1::first-letter {
    font-size: larger;
    color: red;
  }

div::first-line {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aqua;
}

div::after {
    content: url(https://media0.giphy.com/media/26gsad5RsZVhKsUDe/giphy.gif?cid=ecf05e47bjjarpshvhyt0ko1bso5sop6jfh8l520kebqlv97&ep=v1_gifs_search&rid=giphy.gif&ct=g);
  }

p:last-child {
    color: red;
}
p::first-letter {
    font-size: large;
}