#paragrafo {
    color: black; 
    font-size: 18px;
    font-family: Arial, sans-serif; 
}

#bloco {
    background-color: rgb(162, 27, 6); 
    padding: 10px; 
    border: 2px solid black;
}

ul li a {
    text-decoration: none;
    color: black;
}

.minha-classe {
    font-weight: bold;
}
